################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MoviePickerCore/obj/
/.vs
/src/MoviePickerCore/bin/
/src/MoviePickerCore/wwwroot/lib
/src/MoviePickerCore/settings.json
/src/MoviePickerCore/Properties/PublishProfiles
/src/MoviePickerCore/.idea/
