################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MoviePickerCore/obj/Debug/netcoreapp1.0
/.vs
/src/MoviePickerCore/bin/Debug/netcoreapp1.0
/src/MoviePickerCore/wwwroot/lib
/src/MoviePickerCore/settings.json
